$primaryColor : #cd623f;
$secondaryColor : #cda93f;
$tertiaryColor : #cd853f;

body, #navbarHorizontal{ background-color: $primaryColor;}
#shopNowBtn{ background-color: $secondaryColor;}

.nav-wrapper > .sidenav{
    a{padding: 0px 0px 0px 0px;}
    li{ text-align: center;}
    .divider{ margin: 8px 0px 8px 0px;}
}
#shopNowBtn{margin-block-start: 15px;}
